/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote:before, blockquote:after,
    q:before, q:after {
	content: '';
	content: none;
} 
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/* css reset over */



.container {
    width: 75%;
    margin: 0 auto;
}

header {
    display:flex;
    align-items: baseline; /* or flex end */
    padding: 4% 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    flex-grow: 1; /* grows nav to fill space 8 */
}

/* changes all a tags to black with a hover of red */

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: red;
}

/* top content begins here */

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: .05rem dashed black;
}

.top-content img {
    width: 100%;
}

.top-content .text-containers {
    padding: 2% 0;
    display: flex;
}

.top-content .text-container {
    width: 48%;
    padding: 0 2%; 
}

.middle-content {
    border-bottom: .05rem dashed black;
    padding: 2% 0;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    width: 12.5%;
    height: 6.5rem;
    margin: 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box1 {
    background: teal;
}

.middle-content .boxes .box2 {
    background: gold;
}

.middle-content .boxes .box3 {
    background: cadetblue;
}

.middle-content .boxes .box4 {
    background: coral;
}

.middle-content .boxes .box5 {
    background: crimson;
}

.middle-content .boxes .box6 {
    background: forestgreen;
}

.middle-content .boxes .box7 {
    background: darkorchid;
}

.middle-content .boxes .box8 {
    background: hotpink;
}

.middle-content .boxes .box9 {
    background: indigo;
}

.middle-content .boxes .box10 {
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 2%;
    justify-content: space-around;
}

.bottom-content .text-container1 {
    padding-right: 4%;
}

.bottom-content .text-container2 {
    padding-right: 4%;
}

.bottom-content .text-container3 {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    font-size: 1rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media(max-width: 800px) {
    header {
        padding: 0;
    }
    .top-content {
        flex-direction: column;
    }
    .top-content .text-container {
        width: 100%
    }
    .box {
        width: 10rem;
        height: 10rem;
    }
    .bottom-content {
        flex: wrap;
    }
    .text-container1 {
        width: 100%;
    }
    .text-container2 {
        width: 100%;
    }
    .text-container3 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
        padding: 0;
    }
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-content .text-container {
        flex-direction: column;
    }
    
}